extends ../layout 
block content 
    h1 Create Product 
    form(action="/product/create", method="post",enctype="multipart/form-data")
        div
            label(for="name") Name 
            input(type="text",name="name")
        div
            label(for="price") Price
            input(type="text",name="price")
        div
            label(for="image") Image 
            input(type="file",name="image")
        div 
            input(type="submit", value="Create")  