@model AccountDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-5 mx-auto pt-4">
                <h2 class="text-center">Update Account</h2>
                <div class="row mt-3">
                    <form method="post">
                        <div class="row mb-3">
                            <label asp-for="Fullname" class="form-label mb-2"></label>
                            <input asp-for="Fullname" class="form-control" />
                            <span asp-validation-for="Fullname" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Email" class="form-label mb-2"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Password" class="form-label mb-2"></label>
                            <input asp-for="Password" class="form-control" value="@Model.Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="ConfirmPassword" class="form-label mb-2"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Role" class="form-label mb-2"></label>
                            <select asp-for="Role" class="form-select mb-3">
                                @if (Model.Role == 0)
                                {
                                    <option value="0" checked="checked">Customer</option>
                                    <option value="1" >Admin</option>
                                }
                                else
                                {
                                    <option value="0">Customer</option>
                                    <option value="1" checked="checked">Admin</option>
                                }
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <input type="submit" value="Update" class="btn btn-warning col-3" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
