<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>day3_cookie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WriteCookie</display-name>
    <servlet-name>WriteCookie</servlet-name>
    <servlet-class>vn.aptech.WriteCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteCookie</servlet-name>
    <url-pattern>/WriteCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookie</display-name>
    <servlet-name>ReadCookie</servlet-name>
    <servlet-class>vn.aptech.ReadCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookie</servlet-name>
    <url-pattern>/ReadCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteSession</display-name>
    <servlet-name>WriteSession</servlet-name>
    <servlet-class>vn.aptech.WriteSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteSession</servlet-name>
    <url-pattern>/WriteSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadSession</display-name>
    <servlet-name>ReadSession</servlet-name>
    <servlet-class>vn.aptech.ReadSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadSession</servlet-name>
    <url-pattern>/ReadSession</url-pattern>
  </servlet-mapping>
</web-app>