extends layout 
block content 
    .container-fluid 
        .row 
            .col-6.mx-auto
                if(error)
                    p.alert.alert-danger.mb-3=error
                h3.text-center Create New Account 
                hr
                form(action="/create",method="POST",enctype="multipart/form-data") 
                    .mb-3.row 
                        label(for="name",class='form-label') Name 
                        input(type="text",name='name',class='form-control')
                    .mb-3.row
                        label(for="email",class='form-label') Email 
                        input(type="email",name='email',class='form-control')
                    .mb-3.row
                        label(for="password",class='form-lable') Password
                        input(type="password",name='password',class='form-control')
                    .mb-3.row
                        label(for="repassword",class='form-lable') Re-enter password 
                        input(type="password",name='repassword',class='form-control')
                    .mb-3.row 
                        label(for="role",class="form-label") Role 
                        .row 
                            .col-4.mx-auto 
                                input(type="radio", name="role",value="user")
                                label(for="role") User 
                            .col-4.mx-auto 
                                input(type="radio", name="role",value="admin")
                                label(for="role") Admin    
                    .mb-3.row
                        label(for="image",class='form-lable') Image 
                        input(type="file",name='image',class='form-file')
                    .mb-3.row
                        input(type="submit", value="Create", class="col-4 mx-auto btn btn-primary") 
