@page
@model DemoRazorPage.Pages.Products.CreateModel
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-7 mx-auto">
            <h4>Create New Product</h4>
            <hr />
            <form method="post" >
                <div class="row mb-3" >
                    <label asp-for="Product.Name" class="form-label"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="Product.Price" class="form-label"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price"></span>
                </div>
                <div class="row mb-3">
                    <input type="submit" value="Create"  class="btn btn-primary col-3"/>
                </div>
            </form>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}