@model Day3.Models.Student
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-7 mx-auto">
        <h2>Create Student</h2>
        <hr />
        <form asp-action="Create" asp-controller="Student" method="post">
            <div class="row mb-3">
                <label class="col-form-label col-2">Name</label>
                <div class="col-10">
                    @* <input type="text" class="form-control" name="name" /> *@
                    <input class="form-control" asp-for="Name"/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-form-label col-2">Email</label>
                <div class="col-10">
                    @* <input type="email" class="form-control" name="emai" /> *@
                    <input type="email" class="form-control" asp-for="Email" />
                </div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary col-3 mx-auto" name="Create" />
            </div>
        </form>
    </div>
</div>