@model BookMVC.Models.Student
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div class="container">
    <div class="row">
        <div class="col-6">
            @using (Html.BeginForm())
            {
                <div class="mb-3 row">
                    @Html.LabelFor(m => m.name)
                    @Html.EditorFor(m => m.name)
                </div>
                <div class="mb-3 row">
                    @Html.LabelFor(m => m.email)
                    @Html.EditorFor(m => m.email)
                </div>
                <div>
                    <input type="submit" value="Create" class="btn btn-outline-primary"/>
                </div>
            }
        </div>
    </div>
</div>
