extends ../layout 
block content 
    .container-fluid
        .row
            .card.mt-2.col-5.mx-auto
                j3.card-header Profile
                .card-body
                     img(src=`/images/${user.image}`, alt=user.image,width=140,class='img-fluid mx-auto')
                     hr
                     p= user.name 
                     p= user.email
                .card-footer 
                    a(href="/logout",class="btn btn-dark") Logout 