
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 mx-auto mt-5">
                <h3>Login</h3>
                <hr />
                <form asp-action="Login" method="post">
                    <div class="row mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" autofocus/>
                    </div>
                    <div class="row mb-3">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                    <div class="row mb-3">
                        <input type="submit" class="btn btn-primary col-3 mx-auto" value="Login"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
